<table class="table">
    <tr>
        <th>Name</th>
        <td>{{ gameserver.name }}</td>
    </tr>
    <tr>
        <th>Url</th>
        <td>{{ gameserver.url }}</td>
    </tr>
    <tr>
        <th>Port</th>
        <td>{{ gameserver.port }}</td>
    </tr>
    <tr>
        <th>SSH User</th>
        <td>{{ gameserver.ssh_user }}</td>
    </tr>
    <tr>
        <th>SSH Password</th>
        <td>****</td>
    </tr>
    <tr>
        <th>Rcon Password</th>
        <td>****</td>
    </tr>
</table>
