<aside class="menu">
    <p class="menu-label">General</p>
    <ul class="menu-list">
        <li>
            <a href="{% url 'gameserver_detail_index' pk=gameserver.pk %}">Dashboard</a>
        </li>
        <li>
            <a href="{% url 'gameserver_detail' pk=gameserver.pk %}">View</a>
        </li>
        <li>
            <a href="{% url 'gameserver_update' pk=gameserver.pk %}">Update</a>
        </li>
        <li>
            <a href="{% url 'gameserver_delete' pk=gameserver.pk %}">Delete</a>
        </li>
    </ul>
    <p class="menu-label">Queries</p>
    <ul class="menu-list">
        <li>
            <a href="{% url 'gameserver_a2s_info' pk=gameserver.pk %}">A2S Info</a>
        </li>
        <li>
            <a href="{% url 'gameserver_rcon' pk=gameserver.pk %}">Rcon</a>
        </li>
    </ul>
</aside>
