{% extends 'game_server/_game_server_detail_base.html' %}
{% block content %}
    {{ block.super }}
    <section class="section">
        <div class="container">
            <h2 class="title">RCON Query</h2>
            <div class="columns">
                <div class="column">
                    <div class="section">
                        <form method="post">
                            <table class="table">
                                {% csrf_token %}
                                {{ form.as_table }}
                            </table>
                            <input class="button" type="submit" value="Submit" />
                        </form>
                    </div>
                    <div class="section">
                        <div class="box">
                            <pre><code>{{ rcon_response }}</code></pre>
                        </div>
                    </div>
                </div>
                <div class="column">{% include 'game_server/_game_server_card.html' %}</div>
            </div>
        </div>
    </section>
{% endblock content %}
