{% extends 'base.html' %}
{% block content %}
    {% include 'game_server/_game_server_header_single.html' %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="title">GameServer Details</h1>
                    <p class="subtitle">Database</p>
                    {% include 'game_server/_game_server_db_table.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
