{% extends 'base.html' %}
{% block content %}
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <div class="is-pulled-right">
                    <ul>
                        <li>{{ gameserver.url }}:{{ gameserver.port }}</li>
                        <li>
                            <code>{{ gameserver.rcon_password }}</code>
                        </li>
                    </ul>
                </div>
                <p class="title">
                    {{ a2s.info.server_name }}
                </p>
                <p class="subtitle">
                    {{ a2s.info.map_name }} {{ a2s.info.player_count }}/{{ a2s.info.max_players }}
                </p>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    Game Modes
                    <div class="buttons">
                        <button class="button">Competitive</button>
                        <button class="button">Competitive Short</button>
                        <button class="button">Competitive 2v2</button>
                    </div>
                    <div class="field has-addons">
                        <p class="control">
                            <button class="button">
                                <span>Competitive</span>
                            </button>
                        </p>
                        <p class="control">
                            <button class="button">
                                <span>Competitive Short</span>
                            </button>
                        </p>
                        <p class="control">
                            <button class="button">
                                <span>Competitive 2v2</span>
                            </button>
                        </p>
                    </div>
                    <div>
                        <h3>Get5</h3>
                        <div class="buttons">
                            <button class="button">Competitive</button>
                            <button class="button">Competitive Short</button>
                            <button class="button">Competitive 2v2</button>
                        </div>
                    </div>
                    <article class="content">
                        <h1>Server/Admin Commands</h1>

Please note that these are meant to be used by admins in console. The definition is:

<code>command <required parameter> [optional parameter]</code>
    <p>Loads a match configuration file (JSON or KeyValue) relative to the csgo directory.
<code>get5_loadmatch <filename></code>
</p>

        <p>
<code>get5_loadbackup <filename></code>
    Loads a match backup, relative to the csgo directory. Requires that the backup system is enabled. If you define get5_backup_path, you must include the path in the filename. Note that loading a backup stops and restarts any ongoing demo recordings.
</p>
    <p>
<code>get5_last_backup_file</code>
    Prints the name of the last match backup file Get5 wrote in the current series, this is automatically updated each time a backup file is written. Empty string if no backup was written.
</p>
    <p>
<code>get5_loadteam <team1|team2|spec> <filename></code>
    Loads a team section of a match configuration from a file into a team relative to the csgo directory. The file must contain a Get5MatchTeam object.
</p>
    <p>
<code>get5_loadmatch_url <url> [header name] [header value]</code>
    Loads a remote (JSON-formatted) match configuration by sending an HTTP(S) GET to the given URL. You may optionally provide an HTTP header and value pair using the header name and header value arguments. You should put all arguments inside quotation marks ("").

Example

With Authorization:
get5_loadmatch_url "https://example.com/match_config.json" "Authorization" "Bearer <token>"

Without custom headers:
get5_loadmatch_url "https://example.com/match_config.json"

SteamWorks required

Loading remote matches requires the SteamWorks extension.
get5_endmatch [team1|team2]

    Force-ends the current match. The team argument will force the winner of the series and the current map to be set to that team. Omitting the team argument sets no winner (tie).
</p>
    <p>
<code>get5_creatematch [map name] [matchid]</code>
    Creates a BO1 match with the current players on the server. map name defaults to the current map and matchid defaults to manual. You should not provide a match ID if you use the MySQL extension.
</p>
    <p>
<code>get5_scrim [opposing team name] [map name] [matchid]</code>
    Creates a scrim on the current map. The opposing team name defaults to Away and the map defaults to the current map. matchid defaults to scrim. You should not provide a match ID if you use the MySQL extension.
</p>
    <p>
<code>get5_addplayer <auth> <team1|team2|spec> [name]</code>
    Adds a Steam ID to a team (can be any format for the Steam ID). The name parameter optionally locks the player's name.
</p>
    <p>
<code>get5_addcoach <auth> <team1|team2> [name]</code>
    Adds a Steam ID to a team as a coach. The name parameter optionally locks the player's name. This requires that sv_coaching_enabled is enabled and cannot be used in scrim mode.
</p>
    <p>
<code>get5_removeplayer <auth></code>

    Removes a steam ID from all teams (can be any format for the Steam ID). This also removes the player as a coach. If get5_check_auths is set, the player will be removed from the server immediately.
</p>
    <p>
<code>get5_addkickedplayer <team1|team2|spec> [name]</code>

    Adds the last kicked Steam ID to a team. The name parameter optionally locks the player's name.
</p>
    <p>
<code>get5_removekickedplayer <team1|team2|spec></code>

    Removes the last kicked Steam ID from all teams. Cannot be used in scrim mode.
</p>
    <p>
<code>get5_forceready</code>

    Marks all teams as ready. get5_forcestart does the same thing.
</p>
    <p>
<code>get5_status</code>

    Replies with JSON formatted match state (available to all clients).

Definition

⚠ Properties marked as undefined are only present if a match configuration has been loaded.

interface StatusTeam {
    "name": string, // 


    "series_score": number, // 


    "current_map_score": number, // 


    "connected_clients": number, // 


    "ready": boolean, // 


    "side": "t" | "ct" // 


}

interface Status {
    "plugin_version": string, // 


    "gamestate": "none" | "pre_veto" | "veto" | "warmup"
        | "knife" | "waiting_for_knife_decision"
        | "going_live" | "live" | "pending_restore" | "post_game", // 


    "paused": boolean, // 


    "loaded_config_file": string | undefined, // 


    "matchid": string | undefined, // 


    "map_number": number | undefined, // 


    "round_number": number | undefined, // 


    "round_time": number | undefined, // 


    "team1": StatusTeam | undefined, // 

,
    "team2": StatusTeam | undefined, // 


    "maps": [string] | undefined // 


}

Example
<code>get5_listbackups [matchid]</code>

    Lists backup files for the current match or a given match ID if provided. If you define get5_backup_path, it will only list backups found under that prefix.
</p>
    <p>
<code>get5_ringer <target></code>

    Adds/removes a ringer to/from the home scrim team. target is the name of the player, their user ID or their Steam ID. Similar to !ringer in chat. To target a user or Steam ID, prefix it with a #, i.e. get5_ringer #43 to target user ID 43. See this article for details.

User ID vs client index

To view user IDs, type users in console. In this example, 43 is the user ID and 1 is the client index:

> users
1:43:"Quinn"
</p>
<p>
<code>get5_dumpstats [file]</code>

    Dumps player stats to a file, relative to the csgo directory, defaulting to get5_matchstats.cfg if no file parameter is provided. If you provide a .json filename, the stats data will be output in JSON format.
</p>
    <p>
<code>get5_debuginfo [file]</code>

    Dumps debug info to a file, relative to the csgo directory, defaulting to addons/sourcemod/logs/get5_debuginfo.txt if no file parameter is provided.
</p>
    <p>
<code>get5_test</code>

    Runs get5 tests. This should not be used on a live match server since it will reload a match config to test.
</p>
    <p>
<code>get5_web_available</code>

    Indicates if the Get5 web panel has been installed. 
    </p>       
</article>
                </div>
                <div class="column">
                    <h1 class="title">GameServer Details</h1>
                    <p class="subtitle">
                        Database
                    </p>
                    <table class="table">
                        <tr>
                            <th>Name</th>
                            <td>{{ gameserver.name }}</td>
                        </tr>
                        <tr>
                            <th>Url</th>
                            <td>{{ gameserver.url }}</td>
                        </tr>
                        <tr>
                            <th>Port</th>
                            <td>{{ gameserver.port }}</td>
                        </tr>
                        <tr>
                            <th>SSH User</th>
                            <td>{{ gameserver.ssh_user }}</td>
                        </tr>
                        <tr>
                            <th>SSH Password</th>
                            <td>****</td>
                        </tr>
                        <tr>
                            <th>Rcon Password</th>
                            <td>{{ gameserver.rcon_password }}</td>
                        </tr>
                    </table>
                </div>
                <div class="column">
                    <h1 class="title">GameServer Details</h1>
                    <p class="subtitle">
                        Query
                    </p>
                    <table class="table">
                        <tr>
                            <th>Server Name</th>
                            <td>
                                {{ a2s.info.server_name }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Map Name
                            </th>
                            <td>
                                {{ a2s.info.map_name }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                player_count
                            </th>
                            <td>
                                {{ a2s.info.player_count }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                max_players
                            </th>
                            <td>
                                {{ a2s.info.max_players }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                port
                            </th>
                            <td>
                                {{ a2s.info.port }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                stv_port
                            </th>
                            <td>
                                {{ a2s.info.stv_port }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                stv_name
                            </th>
                            <td>
                                {{ a2s.info.stv_name }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                ping
                            </th>
                            <td>
                                {{ a2s.info.ping }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <section class="section">
        <div class="container">
            <h2 class="title">
                Info
            </h2>
            <table class="table">
                <tr>
                    <th>
                        Server Name
                    </th>
                    <td>
                        {{ a2s.info.server_name }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Map Name
                    </th>
                    <td>
                        {{ a2s.info.map_name }}
                    </td>
                </tr>
                <tr>
                    <th>
                        game
                    </th>
                    <td>
                        {{ a2s.info.game }}
                    </td>
                </tr>
                <tr>
                    <th>
                        app_id
                    </th>
                    <td>
                        {{ a2s.info.app_id }}
                    </td>
                </tr>
                <tr>
                    <th>
                        player_count
                    </th>
                    <td>
                        {{ a2s.info.player_count }}
                    </td>
                </tr>
                <tr>
                    <th>
                        max_players
                    </th>
                    <td>
                        {{ a2s.info.max_players }}
                    </td>
                </tr>
                <tr>
                    <th>
                        bot_count
                    </th>
                    <td>
                        {{ a2s.info.bot_count }}
                    </td>
                </tr>
                <tr>
                    <th>
                        server_type
                    </th>
                    <td>
                        {% if a2s.info.server_type == 'd' %}
                            Dedicated
                        {% else %}
                            {{ a2s.info.server_type }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>
                        platform
                    </th>
                    <td>
                        {% if a2s.info.platform == 'l' %}
                            Linux
                        {% else %}
                            {{ a2s.info.platform }}
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    <th>
                        password_protected
                    </th>
                    <td>
                        {{ a2s.info.password_protected }}
                    </td>
                </tr>
                <tr>
                    <th>
                        vac_enabled
                    </th>
                    <td>
                        {{ a2s.info.vac_enabled }}
                    </td>
                </tr>
                <tr>
                    <th>
                        version
                    </th>
                    <td>
                        {{ a2s.info.version }}
                    </td>
                </tr>
                <tr>
                    <th>
                        port
                    </th>
                    <td>
                        {{ a2s.info.port }}
                    </td>
                </tr>
                <tr>
                    <th>
                        steam_id
                    </th>
                    <td>
                        {{ a2s.info.steam_id }}
                    </td>
                </tr>
                <tr>
                    <th>
                        stv_port
                    </th>
                    <td>
                        {{ a2s.info.stv_port }}
                    </td>
                </tr>
                <tr>
                    <th>
                        stv_name
                    </th>
                    <td>
                        {{ a2s.info.stv_name }}
                    </td>
                </tr>
                <tr>
                    <th>
                        keywords
                    </th>
                    <td>
                        {{ a2s.info.keywords }}
                    </td>
                </tr>
                <tr>
                    <th>
                        game_id
                    </th>
                    <td>
                        {{ a2s.info.game_id }}
                    </td>
                </tr>
                <tr>
                    <th>
                        ping
                    </th>
                    <td>
                        {{ a2s.info.ping }}
                    </td>
                </tr>
            </table>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h2 class="title">
                Info
            </h2>
            <table class="table">
                {% for key, value in a2s.info %}
                    <tr>
                        <th>
                            {{ key }}
                        </th>
                        <td>
                            {{ value }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>
    <hr>
    <section class="section">
        <div class="container">
            <h2 class="title">
                Players
            </h2>
            <pre>
            <code>
                {{ a2s.players }}
            </code>
</pre>
        </div>
    </section>
    <hr>
    <section class="section">
        <div class="container">
            <h2 class="title">
                Rules
            </h2>
            <pre>
            <code>
                {{ a2s.rules }}
            </code>
        </pre>
            <table class="table">
            </table>
        </div>
    </section>
{% endblock content %}
