[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-ninja = "*"
rcon = "*"
django-basic-crud-generator = "*"
django-service-objects = "*"
python-a2s = "*"
requests = "*"
beautifulsoup4 = "*"
nslookup = "*"
django-debug-toolbar = "*"
dj-rest-auth = "*"
social-auth-app-django = "*"

[dev-packages]
djlint = "*"

[requires]
python_version = "3.8"
