{% extends "base.html" %}
{% block content %}
    <section class="section">
        <div class="container">
            <h2 class="title">player</h2>
            <table class="table table-fluid">
                <thead>
                    <tr>
                        <th>player</th>
                        <th>View</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in object_list %}
                        <tr>
                            <td>{{ player }}</td>
                            <td>
                                <a href="{% url "player_detail" player.id %}">view</a>
                            </td>
                            <td>
                                <a href="{% url "player_update" player.id %}">edit</a>
                            </td>
                            <td>
                                <a href="{% url "player_delete" player.id %}">delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url "player_create" %}">New</a>
        </div>
    </section>
{% endblock content %}
