{% extends 'base.html' %}
{% block content %}
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <p class="title">Teams</p>
                <p class="subtitle">Primary subtitle</p>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="columns is-multiline">
                        {% for team in team_list %}
                            <div class="column">
                                <div class="card">
                                    <header class="card-header">
                                        <p class="card-header-title">{{ team.name }}</p>
                                    </header>
                                    {% comment %}
                                    <div class="card-image">
                                        <figure class="image is-2by1">
                                            <a href="{% url 'team_detail' pk=team.pk %}">
                                                <img src="" alt="">
                                            </a>
                                        </figure>
                                    </div> 
                                    {% endcomment %}
                                    <div class="card-content">
                                        <div class="columns">
                                            <div class="column">
                                                <ul>
                                                    <li>
                                                        <div>
                                                            {% if team.player1.avatar %}
                                                                <figure class="image is-16x16">
                                                                    <img src="{{ team.player1.avatar }}" alt="avatar"/>
                                                                </figure>
                                                            {% endif %}
                                                            {{ team.player1.personaname | default:'' }}
                                                        </div>
                                                    </li>
                                                    <li>{{ team.player2.personaname | default:'' }}</li>
                                                    <li>{{ team.player3.personaname | default:'' }}</li>
                                                    <li>{{ team.player4.personaname | default:'' }}</li>
                                                    <li>{{ team.player5.personaname | default:'' }}</li>
                                                    <li>{{ team.player6.personaname | default:'' }}</li>
                                                    <li>{{ team.player7.personaname | default:'' }}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <footer class="card-footer">
                                        <a href="{% url 'team_detail' pk=team.pk %}" class="card-footer-item">View Details</a>
                                    </footer>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="column is-3">
                    <table class="table table-fluid">
                        <thead>
                            <tr>
                                <th>Team</th>
                                <th>View</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for team in object_list %}
                                <tr>
                                    <td>{{ team }}</td>
                                    <td>
                                        <a href="{% url "team_detail" team.id %}">view</a>
                                    </td>
                                    <td>
                                        <a href="{% url "team_update" team.id %}">edit</a>
                                    </td>
                                    <td>
                                        <a href="{% url "team_delete" team.id %}">delete</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <a href="{% url "team_create" %}">New</a>
        </div>
    </section>
{% endblock content %}
