{% extends "base.html" %}
{% block content %}
    <section class="hero is-primary is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Matches</h1>
            </div>
        </div>
    </section>
    <section class="section has-background-white">
        <div class="container">
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Date</th>
                        <th>Server</th>
                        <th>Match</th>
                        <th>View</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for match in object_list %}
                        <tr>
                            <td>{{ match.id }}</td>
                            <td>{{ match.match_date_time | date:"Y-m-d H:i:s" }}</td>
                            <td>{{ match.game_server }}</td>
                            <td>{{ match }}</td>
                            <td>
                                <a href="{% url "match_detail" match.id %}">view</a>
                            </td>
                            <td>
                                <a href="{% url "match_update" match.id %}">edit</a>
                            </td>
                            <td>
                                <a href="{% url "match_delete" match.id %}">delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url "match_create" %}">New</a>
        </div>
    </section>
{% endblock content %}
